.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.DQ-question {
  font-size: 12px;
  border: 1px solid black;
  padding-bottom: 10px;
}

.Ans-btn {
  margin-left: 3px;
}
.Ans-btnSelected {
  margin-left: 3px;
  background-color: green;
  color: white;
}

.Intro-page-container {
  height: 100vh;
  background-color: blue;
  color: white;
}


